/dist/
/assets/
/local/

/overlay/etc/gl_screen/language/ttf/*.ttf
/overlay/etc/gl_screen/language/ttf/license.txt
/overlay/etc/gl_screen/language/ttf/README.txt
/overlay/etc/gl_screen/language/text/default

__pycache__/
*.py[cod]
.venv/
venv/

.DS_Store
Thumbs.db
.idea/
.vscode/

/*.ipk
